@media (max-width:991px){
    /* custom css */
    section{
        padding: 30px 0px;
    }
    h2{
        font-size: 30px;
        line-height: 40px;
    }
    h3{
        font-size: 20px;
    }

    /* 2 Navbar */
    .header-scrolled{
        height: auto;
    }
    .header_wrapper .menu-navbar-nav{
        text-align: center;
        background-color: var(--bg-dark-blue);
        padding-bottom: 15px;
    }

    .header_wrapper .nav-item .nav-link{
        margin-top: 15px;
    }



    /* About */
    .about_wrapper ul.nav-pills{
        width: 61%;
        margin: 0 auto;
    }
    /* portfolio */
    .Portfolio_wrpper .card{
        min-height: 400px;
    }

}





@media (max-width:767.99px){
    .banner_wrapper{
        padding: 119px 0px 50px 0px;
    }
.footer-form-image{
    display: none;
}
    /* custom css */
    h1{
        font-size: 40px;
        line-height: 48px;
    }
    h2{
        font-size: 25px;
    }
    p{
        font-size: 13px;
        line-height: 24px;
    }
    .navbar-brand h3{
        font-size: 24px;
    }
    /* About */
    .about_wrapper ul.nav-pills{
        width: 100%;
        margin: 0 auto;
        border: 0;
    }

       /* portfolio */
       .Portfolio_wrpper .card{
        min-height: 500px;
    }

}